body {
    font-family: Arial, sans-serif;
}

.sidebar {
    height: 100vh;
    width: 250px;
    background-color: #343a40;
    position: fixed;
    top: 0;
    left: 0;
    overflow-y: auto;
    transition: all 0.3s;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.sidebar h4 {
    font-size: 18px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar .nav-link {
    color: #fff;
    font-size: 16px;
    padding: 10px 15px;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.sidebar .nav-link i {
    font-size: 18px;
}

.sidebar .nav-link:hover {
    background-color: #495057;
    transform: scale(1.05);
}

.sidebar .nav-link.active {
    background-color: #4d555d;
    color: #fff;
}

.main-content {
    margin-left: 250px;
    padding: 20px;
}

.sidebar.collapsed {
    width: 0;
}

.main-content.collapsed {
    margin-left: 0;
}


.btn-close {
    background-color: transparent;
    filter: invert(1);
}

.btn-close.custom-color {
    filter: none;
    color: #fff;
    opacity: 1;
    text-shadow: none;
}

.custom-error {
    background-color: #b31d2c;
    color: #fff;
}

.table-responsive {
    overflow-x: auto;
}

table {
    width: 100%;
}